<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {% load static %}


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <title>FedRegWeb</title>


    <script>

        function addTable(betas, std_errs, z_values, p_values, names) {
            var myTableDiv = document.getElementById("myDynamicTable");
            myTableDiv.innerHTML = "";

            betas = betas.split(", ");
            var OR = [];
            for (i = 0; i < betas.length; i++) {
                OR[i] = Math.exp(betas[i]);
            }
            std_errs = std_errs.split(", ");
            z_values = z_values.split(", ");
            p_values = p_values.split(", ");
            names = names.split(", ");

            var table_data = [names, betas, OR, std_errs, z_values, p_values];

            var table = document.createElement('TABLE');
            table.border = '1';

            var tableBody = document.createElement('TBODY');
            table.appendChild(tableBody);

            var header = table.createTHead();
            var headerRow = header.insertRow(0);
            headerRow.insertCell(0).innerHTML = "<b>Variable</b>";
            headerRow.insertCell(1).innerHTML = "<b>Coefficient</b>";
            headerRow.insertCell(2).innerHTML = "<b>Odds Ratio</b>";
            headerRow.insertCell(3).innerHTML = "<b>Std. Err.</b>";
            headerRow.insertCell(4).innerHTML = "<b>z-value</b>";
            headerRow.insertCell(5).innerHTML = "<b>p-value</b>";

            for (var i = 0; i < betas.length; i++) {
                var tr = document.createElement('TR');
                tableBody.appendChild(tr);

                for (var j = 0; j < table_data.length; j++) {
                    var td = document.createElement('TD');
                    td.width = '75';
                    if(j == 0){
                      td.appendChild(document.createTextNode(table_data[j][i]));
                    }
                    else{
                      td.appendChild(document.createTextNode(Math.round(table_data[j][i] * 10000) / 10000));
                    }
                    tr.appendChild(td);
                }
            }
            myTableDiv.appendChild(table);

            if (myTableDiv.style.display === "none") {
                myTableDiv.style.display = "block";
            } else {
                myTableDiv.style.display = "none";
            }
        }



    </script>


</head>



<body>

    {% include "Webinterface/includes/navbar.html" %}
    {% include "Webinterface/includes/messages.html" %}




    <div class="container">
        <br>
        {% block content %}         <!-- this is the framework of the page and the page specific content is in this blockcontent -->
        {% endblock %}
    </div>



</body>

</html>

<script>M.AutoInit();</script>