

{% extends "Webinterface/base.html" %}

{% block content %}


    <div class="row">

        <h2>Downloads</h2>
  </div>
    <div class="formbutton">
    <form action ="GUI.zip" method="get">
        <button class="btn" type="submit">Download local software</button>
     </form>
   </div>



{% endblock %}