

{% extends "Webinterface/base.html" %}

{% block content %}


    <div   class="row">

        <h4>Predicted Dataset: {{result.filename}}</h4>
        </br>

        <pre>{{result.result}}</pre>

  </div>

{% endblock %}
