

{% extends "Webinterface/base.html" %}

{% block content %}



        <h1>FedRegWeb</h1>


        <font size="+2">Welcome to FedRegWeb, an online tool for federated regression.</br></br></font>
        In order to create or join a project, please register first.</br>

        When creating a new project, there are 3 possible regression types: Linear, Lasso and Logistic Regression</br>

        If you want to participate in a project, you need an invitation link from its supervisor.</br>

        To commit your data to a project, you need to download the <a href="downloads">local software</a> and call the GUI.jar.</br>

        The local software requires the project ID, which can be found at the project detailed page.</br></br>


        <font size="+2">Please make sure that the order of the features is the same across each committed dataset.</br>
            The data has to be in ARFF format and the outcome variable has to be in the last column.</font>

{% endblock %}
