

{% extends "Webinterface/base.html" %}

{% block content %}
	Enter your lambda value (between 0 and 1)<br/>
	<small class="text-muted">If 1 is inserted, all coefficients will be regularized to 0 </small><br/> 
	<small class="text-muted">If 0 is inserted, the result will be a normal, unregularized linear model  </small><br/> 
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}


		<button class="btn btn-outline-info" style="background-color:yellow; color:blue" type="submit">Start Project</button>

    </form>

        

{% endblock %}