{% extends "Webinterface/base.html" %}
{% block content %}

<form method="POST">
	{% csrf_token %}
	<h5>Are you sure you want to delete the project "{{object.name}}"? All stored results will be deleted aswell.</h5>
	<button class = "btn btn-outline-danger" type = "submit">Yes, Delete</button>
	<a class = "btn btn-outline-danger" href = {% url "project-detail" object.id%}>No</a>
</form>

{% endblock content %}
