{% extends "Webinterface/base.html" %}
{% block content %}
	<h3>{{object.name}}</h3>
	<small class="text-muted">{{ object.date_created }}</small><br/> 
	Supervisor: <medium class="text-muted">{{ object.supervisor}}</medium><br/>
	{% if object.regression_type == "LI"%}
		Regression Type: <medium class="text-muted">Linear</medium><br/>
	{% endif %}
	{% if object.regression_type == "LA"%}
		Regression Type: <medium class="text-muted">Lasso</medium><br/>
	{% endif %}
	{% if object.regression_type == "LO"%}
		Regression Type: <medium class="text-muted">Logistic</medium><br/>
	{% endif %}
	Project ID: <medium class="text-muted">{{object.slug}}</medium><br/>
	<hr>
	{% if object.supervisor == user%}
		Invitation link: http://127.0.0.1:8000/join/{{object.slug}}
		<br/>
		<small class="text-muted">Share this link to invite participants to your project</small>
		<hr>
	{% endif %}


	{% if object.regression_type == "LO"%}

		{%if object.logistic.finished%}
			<h5>Training finished!</h5>
			<button class="btn" onclick="addTable(&quot;{{object.logistic.regression_model}}&quot;, &quot;{{object.logistic.std_errs}}&quot;, &quot;{{object.logistic.z_values}}&quot;, &quot;{{object.logistic.p_values}}&quot;, &quot;{{object.logistic.attribute_names}}&quot;)" id = "model_button">Show Model</button>
			<a class="btn" href="../../logistic_results/{{object.slug}}/">Download Model</a>
			</br>
			<div id="myDynamicTable" style="display: none"></div>
			</br>
			<h5>Predict Dataset</h5>
  			<form method="post" enctype="multipart/form-data" action="{% url 'upload' object.slug%}">
			    {% csrf_token %}
				<input type="file" name="document">
    			<button class="btn" type="submit">Upload file</button>
			</form>
			<small>Please make sure that the order of the features in the uploaded dataset matches the order in the trained model.</small></br>
			<small>Also, binary predictor variables should be encoded with 0 and 1.</small></br></br>

			{% for evaluate in object.logistic.evaluate.all %}
				{% if user == evaluate.data_owner %}
					<li>{{evaluate.filename}}:</li>
					&emsp;&emsp;&ensp;View the evaluated dataset <a href = "{% url 'evaluated' evaluate.filename%}">here</a>
				{% endif %}
			{% endfor %}
			<br/>

		{% endif %}

	{% endif %}



	<h4>Participants:</h4>
	{% for user in object.participants.all %}
		{% if user in object.participants_ready.all %}
			<li>{{user}} <small>({{user.email}})</small> <font color="green">(ready) </font></li>
		{% else %}
			<li>{{user}} <small>({{user.email}})</small> <font color="red">(not ready) </font></li>
		{% endif %}
	{% endfor %}
	<hr>
	{% if object.supervisor == user%}

		{%if not object.is_running%}
			<form method="POST">
				{% csrf_token %}
				<a class = "btn" href = {% url "project-start" object.id%}>Start this Project</a>
				</br>
				<small class="text-muted">Only start this Project, if all participants, you want to include, are ready</small>
			</form>
		{%else%}
			<font color="green">Project is running...</font></br></br>
		{% endif %}
		<a class="btn" style="background-color:red; color:white" href={% url "project-delete" project.id%}>Delete this Project</a>
	{% endif %}


	{% if object.regression_type == "LA"%}
		{%if object.lasso.finished%}
			<hr>
			<h4>Finished! Result:</h4>
			<pre>{{object.lasso.html_out|safe}}</pre>
		{%endif%}
	{% endif %}

	</br>
	</br>

{% endblock content %}
