{% extends "Webinterface/base.html" %}
{% block content %}
		<form method="POST">
			{% csrf_token %}
			<h4>Do you want to join the project "{{project.name}}" by {{project.supervisor}}?</h4>
			<div class = "form-group">
				<button class = "btn btn-outline-danger" type = "submit">Yes, join</button>
				<a class = "btn" href = {% url "homepage"%}>No</a>
			</div>
		</form>
{% endblock content %}
