{% extends "Webinterface/base.html" %}
{% block content %}
	<h2>My Projects</h2>
	<hr>
	<h4>As Supervisor:</h4>
	
	{% for project in own_projects %}
		<small class="text-muted">{{ project.date_created }}</small>
		<big><a class="article-title" href={% url "project-detail" project.id%}>{{ project.name }}</a></big>	
		<br/>
	{% endfor %}
	<br/>
	<a class="btn btn-outline-info" href={% url "project-create"%}>Create new Project</a>
	<hr>
	<h4>As Participant:</h4>
	
	{% for project in participant_projects %}
		<small class="text-muted">{{ project.date_created }}</small>	
		<big><a class="article-title" href={% url "project-detail" project.id%}>{{ project.name }}</a></big>
		<small class="text-muted">Supervisor: {{ project.supervisor }}</small>
		<br/>	
	{% endfor %}
	<br/>	
	<small class="text-muted">You can join new projects via invitation links</small>
	<hr>
{% endblock content %}